<?xml version="1.0" encoding="UTF-8"?>
<!--
  See: http://docs.oracle.com/cd/E28613_01/web.1211/b65890/web_xml.htm
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      id="WebApp_ID" version="3.0">
    <servlet>
        <servlet-name>TrellisLDP</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.trellisldp.webapp.TrellisApplication</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrellisLDP</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
