<?xml version="1.0" encoding="utf-8"?>
<server description="Trellis Server">
    <featureManager>
      <feature>microProfile-3.2</feature>
    </featureManager>
    <logging consoleLogLevel="INFO"/>
    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
      id="defaultHttpEndpoint" host="*">
      <accessLogging filepath="${server.output.dir}/logs/access.log"/>
    </httpEndpoint>
    <webApplication location="trellis-openliberty.war" contextRoot="/"/>
</server>

