.trellis-social {
  text-align: center; }
  .trellis-social a {
    margin: 5px 10px;
    color: black; }
    .trellis-social a:hover {
      color: grey; }

.home h2 {
  text-align: center;
  width: 80%;
  margin: 10% auto 50px auto; }

.site-title {
  background: url("/assets/trellis.png") no-repeat 0 8px;
  background-size: 40px 40px;
  padding-left: 45px; }

hr {
  margin: 40px 5px; }
