a {
    color: #7800a0;
    text-decoration: none;
    padding-bottom: .125em;
    border-bottom: 1px solid #DFBFFF;
}
a:hover {
    color: #4D2F71;
    border-bottom: 1px solid #4D2F71;
}
body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: Lato, Helvetica, Arial, sans-serif;
    line-height: 150%;
    color: #555;
    box-sizing: border-box;
}
header, footer {
    background-color: green;
    color: white;
    font-size: .9em;
    text-align: center;
    width: 100%;
    position: fixed;
}
header {
    top: 0;
}
footer {
    bottom: 0;
    padding: 20px;
    min-height: 0.6em;
}
nav {
    position: fixed;
    left: 5%;
    top: 140px;
    width: 15%;
}
nav ul {
    list-style-type: none;
    padding-left: 0;
}
nav ul li {
    padding: 5px 0;
}
nav ul li a {
    padding: 5px;
}
nav ul li a:hover {
    background: #efefef;
}
main {
    margin: 100px 0;
    padding: 3em 10% 1em 20%;
    width: 60%
    margin: 0 auto;
    background: white;
}
@media screen and (max-width: 800px) {
    footer, main { padding: 1em; }
    header {
      background-size: 90%;
      background-position: 18px 20px;
      min-height: 80px;
    }
    main {
        margin-top: 60px;
        margin-bottom: 50px;
    }
    header p { display: none; }
    header a { display: none; }
    header { z-index: 100 }
    nav {
        position: relative;
        width: 100%;
        padding: 0 1em 20px 0;
        top: 100px;
        z-index: 1;
    }
}

header h1 {
    color: white;
    line-height: 130%;
    font-size: 2.6rem;
    letter-spacing: -.02em;
    font-weight: 400;
    margin: 0 0 10px 0;
    padding-top: 20px;
    padding-bottom: 5px;
}
header h1 img {
    max-height: 35px;
    padding-right: 10px;
}
header a {
    color: white;
}
header p {
    padding-bottom: 20px;
}
hr {
    border: 1px solid #ccc;
    border-bottom-width: 0;
    clear: both;
}
footer a {
    color: white;
    text-decoration: none;
    padding-bottom: .125em;
    border: 0;
}
footer a:hover {
    color: #ddd;
    text-decoration: none;
    padding-bottom: .125em;
    border-bottom: 1px solid #ddd;
}
p { margin: 10px; font-size: 18px; line-height: 160%; }

