name: Trellis CI

on:
  push:
    branches:
      - master
      - trellis-[0-9]+.[0-9]+.x
    tags:
      - trellis-[0-9]+.[0-9]+.[0-9]+

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [8, 11]

    name: Java ${{ matrix.java }} environment
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}

    - name: Cache
      uses: actions/cache@v1.0.3
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    - name: Build with Gradle
      run: ./gradlew check assemble javadoc -x pmdMain -x spotbugsMain || ./gradlew check assemble javadoc -x pmdMain -x spotbugsMain

  deploy:
    needs: build
    runs-on: ubuntu-latest

    name: Deploy docker container
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 8
      uses: actions/setup-java@v1
      with:
        java-version: 8

    - name: Cache
      uses: actions/cache@v1.0.3
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    - name: Publish Docker Container
      run: |
        docker login docker.pkg.github.com -u acoburn -p "${{ secrets.GITHUB_TOKEN }}"
        ./buildtools/src/main/resources/docker/publishToGitHub.sh
