name: GitHub CD

on:
  push:
    branches:
      - main
    tags:
      - trellis-[0-9]+.[0-9]+.[0-9]+

jobs:
  build:
    name: Java 11 environment
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 11
        cache: 'maven'

    - name: Build with Maven
      run: ./mvnw -B -ntp verify javadoc:javadoc

    - name: Publish to SonarCloud
      if: ${{ github.actor != 'dependabot[bot]' }}
      continue-on-error: true
      run: ./mvnw -B -ntp sonar:sonar -Dsonar.login=${{ secrets.SONAR_TOKEN }}

  sonatype:
    name: Deploy artifacts to Sonatype
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 11
        cache: "maven"
        server-id: 'ossrh'
        server-username: MAVEN_REPO_USERNAME
        server-password: MAVEN_REPO_TOKEN
    - name: Publish to Sonatype
      run: ./mvnw -B -ntp deploy -Ppublish
      env:
          MAVEN_REPO_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          MAVEN_REPO_TOKEN: ${{ secrets.SONATYPE_PASSWORD }}

  dockerhub:
    name: Deploy Docker containers to DockerHub
    needs: [build]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 11
        cache: "maven"

    - name: Publish Docker Containers
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
        ./buildtools/src/main/resources/docker/publishToDockerHub.sh

  docker:
    needs: [build]
    runs-on: ubuntu-latest

    name: Deploy Docker containers to GitHub
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 11

    - name: Publish Docker Containers
      run: |
        echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u $GITHUB_ACTOR --password-stdin
        ./buildtools/src/main/resources/docker/publishToGitHub.sh

  javadocs:
    name: Deploy javadocs to AWS
    needs: [build]
    runs-on: ubuntu-latest
    if: contains(github.ref, 'trellis')

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 11

    - name: Build API documentation
      run: |
          ./mvnw -B -ntp clean verify site site:stage
          mkdir -p docs/trellis/$(./mvnw -q help:evaluate -Dexpression=project.version -DforceStdout)
          mv target/staging/apidocs docs/trellis/$(./mvnw -q help:evaluate -Dexpression=project.version -DforceStdout)/apidocs

    - name: Sync to AWS S3
      uses: jakejarvis/s3-sync-action@v0.5.1
      with:
        args: --acl public-read
      env:
          AWS_S3_BUCKET: ${{ secrets.AWS_DOCS_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          SOURCE_DIR: "docs/trellis"
          DEST_DIR: "docs/trellis"

